@charset="UTF-8";

section#conteudo {
    width: 900px;
	margin: auto;
}
iframe#frameprodutos {
    width: 440px;
	height: 264px;
	border:none;
	overflow: hidden
}
iframe#frameprodutos::-webkit-scrollbar{
    display:none;
}
